<!--<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Fuel Stations</title>-->
<!--</head>-->
<!--<body>-->
<!--<div>-->
<!--    <form th:action = "@{/fuel-stations/}" th:method="POST">-->
<!--        <div>-->
<!--            <label>City</label>-->
<!--            <select name="cityId">-->
<!--                <option th:if="${city} != null"-->
<!--                        th:each="city : ${cities}"-->
<!--                        th:text="${city.getCityName()}">-->
<!--                </option>-->
<!--            </select>-->
<!--        </div><br/>-->
<!--        <div>-->
<!--            <label>Company</label>-->
<!--            <select name="companyId">-->
<!--                <option th:if="${company} != null"-->
<!--                th:each="company : ${companies}"-->
<!--                th:text="${company.getCompanyName()}">-->
<!--                </option>-->
<!--            </select>-->
<!--        </div>-->
<!--    </form>-->
<!--</div>-->

<!--</body>-->
<!--</html>-->